/*--------------------
Mixins
--------------------*/
/*--------------------
Body
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(135deg, #000000, #000000);
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* background: url("https://images.unsplash.com/photo-1451186859696-371d9477be93?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925")
    no-repeat 0 0; */
  background-color: #000000;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*------------x--------
Chat
--------------------*/
.chat {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100vh;
  max-height: 790px;
  z-index: 2;
  overflow: hidden;
  /*  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2); */
  background-color: #000000;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*--------------------
Chat Title
--------------------*/
.chat-title {
  flex: 0 1 45px;
  position: relative; /* 
  z-index: 2; */
  /*  background: rgba(0, 0, 0, 0.2); */
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 10px 34px 10px;
}
.chat-title h1,
.chat-title h2 {
  font-weight: normal;
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.chat-title h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 19px;
  letter-spacing: 1px;
}
.chat-title .avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 0px;
  width: 73px;
  height: 72px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0px solid rgba(255, 255, 255, 0.24);
}
.chat-title .avatar img {
  width: 80px;
  height: auto;
}

/*--------------------
Messages
--------------------*/
.messages {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.78);
  overflow: hidden;
  position: relative;
  width: 100%;
}
.messages .messages-content {
  display: flex !important;
  align-items: center !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 1px;
}
.messages .message {
  clear: both;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0, 0.3);
  margin: 8px 0;
  font-size: 20px;
  line-height: 1.4;
  margin-left: 36px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: auto;
}
.messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  color: rgba(255, 255, 255, 0.3);
}
.bg1 {
  background-color: black;
}
.messages .message::before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  left: 0;
  border-right: 7px solid transparent;
}
.messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
  top: 8px;
}
.messages .message .avatar img {
  width: 28px;
  height: auto;
  vertical-align: unset;
}
.messages .message.message-personal {
  float: right;
  color: #fff;
  text-align: justify;
  background: linear-gradient(120deg, #000000, #000000);
  border-radius: 10px 10px 0 10px;
  float: left;
}
.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #000000;
  bottom: -4px;
}
.messages .message:last-child {
  margin-bottom: 30px;
}
.messages .message.new {
  -webkit-transform: scale(0);
  float: left;
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-animation: bounce 500ms linear both;
  animation: bounce 500ms linear both;
  top: 6%;
  margin: 0 auto;
  width: max-content;
  background: #000000;
}
.messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}
.messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
}
.messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/*--------------------
Message Box
--------------------*/
.message-box {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 65%;
  background: #000000;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  bottom: 10px;
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  height: 17px;
  margin: 0;
  padding-right: 15px;
  width: 100%;
  display: none;
}
.message-box textarea:focus:-webkit-placeholder {
  color: #191919;
}
.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 1px;
  right: 0px;
  height: 40px;
  width: 100px;
  color: #191919;
  border: none;
  background: #fff;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1;
  padding: 10px;
  border-radius: 20px;
  outline: none !important;
  transition: background 0.2s ease;
  display: none;
}
.message-box .message-submit:hover {
  background: #1d7745;
}

/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/*--------------------
Bounce
--------------------*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(
      0.45,
      0,
      0,
      0,
      0,
      0.45,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(
      0.883,
      0,
      0,
      0,
      0,
      0.883,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(
      1.141,
      0,
      0,
      0,
      0,
      1.141,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(
      1.212,
      0,
      0,
      0,
      0,
      1.212,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(
      1.151,
      0,
      0,
      0,
      0,
      1.151,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(
      1.048,
      0,
      0,
      0,
      0,
      1.048,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(
      0.979,
      0,
      0,
      0,
      0,
      0.979,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(
      0.961,
      0,
      0,
      0,
      0,
      0.961,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(
      0.991,
      0,
      0,
      0,
      0,
      0.991,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(
      1.007,
      0,
      0,
      0,
      0,
      1.007,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(
      0.999,
      0,
      0,
      0,
      0,
      0.999,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(
      0.45,
      0,
      0,
      0,
      0,
      0.45,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(
      0.883,
      0,
      0,
      0,
      0,
      0.883,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(
      1.141,
      0,
      0,
      0,
      0,
      1.141,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(
      1.212,
      0,
      0,
      0,
      0,
      1.212,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(
      1.151,
      0,
      0,
      0,
      0,
      1.151,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(
      1.048,
      0,
      0,
      0,
      0,
      1.048,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(
      0.979,
      0,
      0,
      0,
      0,
      0.979,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(
      0.961,
      0,
      0,
      0,
      0,
      0.961,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(
      0.991,
      0,
      0,
      0,
      0,
      0.991,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(
      1.007,
      0,
      0,
      0,
      0,
      1.007,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(
      0.999,
      0,
      0,
      0,
      0,
      0.999,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
    transform: translateY(0) scaleY(0.8);
  }
  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
    transform: translateY(0) scaleY(0.8);
  }
  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  display: inline-block;
  width: 100%;
}
ul li {
  display: inline;
  background: #353535;
  padding: 4px;
  border-radius: 10px;
  font-size: 15px;
  font-family: cursive;
  margin-bottom: 2px;
}
.suggession {
  position: absolute;
  padding: 2px;
  bottom: 0;
  width: -webkit-fill-available;
}
.fa-microphone {
  font-size: 69px;
  color: #aaa;
  position: absolute;
  right: 117px;
  top: -75px;
}

#sihul li {
  cursor: pointer;
}

/* external css: flickity.css */

* {
  box-sizing: border-box;
}

.carousel {
  background: #191919;
  position: relative;
  width: 697px;
  height: 450px;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.tab {
  width: 302px;
  padding: 2px;
  margin: 3px;
}

.TH {
  text-align: center;
}

/*a little bit of reset*/
#services-list,
#services-list p,
#services-list h3 {
  list-style: none;
  margin: 0;
  padding: 0;
  width: min-content;
}

#services-list > li {
  float: left;
  margin: 5px;
  width: 500px;
}

#services-list > li > .image {
  display: block;
  float: left;
  margin-right: 10px;
}

/*
  this instructions are to force the dimensions of image and its container <a>
  */
#services-list > li > .image,
#services-list > li > .image > img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
  position: relative;
}

.gif {
  margin: 0;
  /* float: right; */
  position: fixed;
  right: -135px;
  top: 201px;
}

a {
  text-decoration: none;
}

i {
  letter-spacing: 0;
}

.title {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Big Shoulders Inline Display', cursive;
}

.arrow-list {
  color: white;
  /*background: white; */
  font-size: 10px;
}
.inner-inner-list {
  list-style: none;
}

.inner-inner-list::before {
  content: '\261E';
}

.inner-inner-list {
  font-size: 12px;
  margin-left: 21px;
}

.item {
  width: 697px;
  height: 613px;
  background: rgb(0, 0, 0);
  position: relative;
  box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
}
.item .img {
  width: 100%;
  height: 50%;
  background: black;
  border-radius: 10px 10px 0 0;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}
.item .img-content {
  width: 100%;
  height: 100%;
  transition: 0 !important;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.item .text-container {
  width: 100%;
  height: 56%;
  background: #353535;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  box-shadow: -3px -10px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
}
.item .content {
  height: 83%;
  margin-bottom: 2px;
  overflow: hidden;
}
.item .social {
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 15;
  top: 40%;
  display: flex;
  justify-content: flex-end;
}
.item h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.item .social div {
  width: 50px;
  height: 50px;
  background: green;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.item .social div:hover {
  transform: scale(1.1);
}
.item .social a:last-child {
  margin-right: 20px;
}
.item a .tw {
  background-color: #0084b4;
}
.item a .fb {
  background-color: #3b5998;
}
.item a .ig {
  background-color: #cd486b;
}
.item .like {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #a37f7f;
  border-radius: 50%;
  color: #fff;
  right: 30px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.item .like:hover {
  transform: scale(1.1);
}
.item .like i {
  font-size: 15px;
}
.item .like.clicked {
  background: #ffcece;
}
.item .like.clicked i {
  color: #e60026;
}

.carousel-inner > .item {
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out,
    -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  height: auto;
}


.card {
  color: #ffffff !important;
font-family: 'Jost', sans-serif !important;
background-color: #000000 !important;
font-size: 14px !important;
  max-width: 500px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 11px #6884FF ;
}
  .card-cover {
    height: 100px;
    top: -50px;
  }

  .card-avatar {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
    bottom: 10px;
  }

  .card-fullname,
  .card-jobtitle {
    left: 86px;
    transform: none;
  }

  .card-fullname {
    bottom: 18px;
    font-size: 19px;
  }

  .card-jobtitle {
    bottom: 16px;
    letter-spacing: 1px;
    font-size: 10px;
  }


.card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}

.card-avatar {
  width: 120px;
  height: 120px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.card-jobtitle {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-7px);
}

.card-main {
  display: flex;
  padding-top: 0px;
  flex-direction: column;
}

.card-subtitle {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.card-content {
  padding-bottom: 20px;
  
  padding-left: 20px;
  
  padding-right: 20px;
}

.card-desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.card-section {
  display: none;
  
}

.card-item {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  z-index: 1;

}

.card-item-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-item-desc {
  font-size: 13px;
  color: #6f6f7b;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}


/* ================  Chota card/List =============================== */


.cardch {
  color: #ffffff !important;
font-family: 'Jost', sans-serif !important;
background-color: #000000 !important;
font-size: 14px !important; 
  width: 300px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  height: 250px;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px #6884FF ;
}
  .card-coverch {
    height: 100px;
    top: -50px;
  }

  .card-avatarch {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
    bottom: 10px;
  }

  .card-fullnamech,
  .card-jobtitlech {
    left: 86px;
    transform: none;
  }

  .card-fullnamech {
    bottom: 18px;
    font-size: 19px;
  }

  .card-jobtitlech {
    bottom: 16px;
    letter-spacing: 1px;
    font-size: 10px;
  }


.card-headerch {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}

.card-coverch {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}

.card-avatarch {
  width: 125px;
  height: 125px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

.card-fullnamech {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.card-jobtitlech {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(30px);
}

.card-mainch {
  display: flex;
  padding-top: 25px;
  flex-direction: column;
}

.card-subtitlech {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.card-contentch {
  padding: 20px;
}

.card-sectionch {
  display: none;
  
}

.card-timelinech {
  margin-top: 30px;
  position: relative;
 
    content: "";
    left: 42px;
    width: 2px;
    top: 0;
    height: 100%;
    position: absolute;
    content: "";
  }


.card-itemch {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  z-index: 1;

}

.card-item-titlech {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-item-descch {
  font-size: 13px;
  color: #6f6f7b;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}

.card-contact-wrapperch {
  margin-top: 20px;
}/* 
=============awards wala carousel============== */

.carousel-inner{border-radius:10px;   
} 
.container{width:730px !important;
    border-radius:10px;
}
.carousel-container{
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 15px #6884FF !important ;
}
img{
    border-radius: 10px;
}
.carousel-control{
    border-radius: 10px;
}
.carousel {
  border-radius: 10px;
  background-color: black;  /*dlflf*/
}

/* 
=============principal wala card============== */

.cardpr {
  color: #ffffff !important;
font-family: 'Jost', sans-serif !important;
background-color: #000000 !important;
font-size: 14px !important;
  max-width: 700px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 11px #6884FF ;
}
  .card-coverpr {
    height: 100px;
    top: -50px;
  }

  .card-avatarpr {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
    bottom: 10px;
  }

  .card-fullnamepr,
  .card-jobtitlepr {
    left: 86px;
    transform: none;
  }

  .card-fullnamepr {
    bottom: 18px;
    font-size: 19px;
  }

  .card-jobtitlepr {
    bottom: 16px;
    letter-spacing: 1px;
    font-size: 10px;
  }


.card-headerpr {
  position: relative;
  display: flex;
  height: 280px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}

.card-coverpr {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}

.card-avatarpr {
  width: 180px;
  height: 180px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

.card-fullnamepr {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.card-jobtitlepr {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-7px);
}

.card-mainpr {
  display: flex;
  padding-top: 0px;
  flex-direction: column;
}

.card-subtitlepr {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.card-contentpr {
  padding-bottom: 20px;
  
  padding-left: 20px;
  
  padding-right: 20px;
}

.card-descpr {
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.card-sectionpr {
  display: none;
  
}

.card-itempr {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  z-index: 1;

}

.card-item-titlepr {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-item-descpr {
  font-size: 13px;
  color: #6f6f7b;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}
/* 
===================Gallery=================== */

.cards-listt {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardt {
  margin: 30px auto;
  width: 200px;
  height: 150px;
  border-radius: 20px;
box-shadow: 0 0 15px #6884FF ;
  cursor: pointer;
  transition: 0.4s;
}

.card_imaget {
  width: inherit;
  height: inherit;
  border-radius: 20px;

  border-width: 10px ;
}

.card_imaget img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

.card_titlet {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

@media all and (max-width: 500px) {
  .card-listt {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.carousel-containersm{
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 0 15px #6884FF;
  max-height: 700px !important ;
}
